
	<%	require 'yaml' %>
	<%	require 'vacuum' %>
	<% require 'nokogiri' %>
	<% require 'xmlsimple' %>
	<%	req = Vacuum.new %>
	<%	##req.configure(YAML.load_file('amazon.yml'))  %>
	<%		req.configure(key:    'AKIAIDF25W65W3YRQXTQ',  %>
	<%secret: '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', %>
	<%	              tag:    'pershofin-20') %>

	<%	scopes = %w(Images ItemIds%>
	<%	).join ',' %>

	<%	params = {  %>
	<%	  'Operation'     => 'SimilarityLookup',  %>
	<%	  'IdType'        => 'ASIN', %>
	<%	  'ResponseGroup' => scopes, %>
	<%	  'ItemId'        => 'B00B5PLUQC' %>
	<%	}  %>

	<%	@res = req.get(query: params)  %>
	<%  xml_doc  = Nokogiri::XML(@res.body).remove_namespaces! %>
	<% #config = XmlSimple.xml_in(xml_doc.to_s) %>
	<% xml_doc.xpath("//ASIN").inner_text%>
	
	<script type='text/javascript'>
		urls = [];
		<% xml_doc.xpath("//ImageSet[@Category='primary']/LargeImage/URL").each do |url| %>
			urls.push('<%= url.inner_text %>')
		<% end %>


  	</script>

	<div id ='leftColumn'>
	</div>
	<div id='lgo'>
		<div id='goo'>Stepindipity</div>
		<div id='tag'></div>
		<div id='headerOptions'>
			<div class='optn'>
				<span>Size</span>
				<div id='sizeSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Price</span>
				<div id='priceSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Style</span>
				<div id='styelSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Wkat</span>
				<div id='wkatSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
		</div>

	</div>
	<div id='container'>
		<div id='imgContain'></div>
		<div id='xml' style='display:none'><%= @res.inspect %></div>
	</div>


