	<div id='thang'>
	<div id ='leftColumn'>
		<div id='rowContain'>
			<div class='row'>
				<div class='ttt'>Discern</div>
				<div class='lock'></div>
			</div>			
			<div class='row'>
				<div class='ttt'>Thing</div>
				<div class='lock'></div>
			</div>
			<div class='row'>
				<div class='ttt'>Category</div>
				<div class='lock'></div>
			</div>
			<div class='row'>
				<div class='ttt'>WAT</div>
				<div class='lock'></div>
			</div>
		</div>
	</div>
	<div id='container'>
		<div id='imgContain'></div>
	</div>
	<div id='preFooter'>
		<div id='topPieceContainer'>
			<div class='topPiece'>Option1</div>
			<div class='topPiece'>Option2</div>
			<div class='topPiece'>Option3</div>
			<div class='topPiece'>Option4</div>
			<div class='topPiece'>Option5</div>
		</div>
	</div>
	<div id='footer'>
		<div id='pieceContainer'>
		<div class='piece'>Style</div>
		<div class='piece'>Color</div>
		<div class='piece'>Price</div>
		<div class='piece'>Sort By</div>
		
		<div id='logo'>		
			<span><span>P</span>erfect <span>S</span>hoe <span>F</span>inder</span><div id='beta'>BETA</div>
		</div>
	</div>
	</div>
</div>
