




	<div id='lgo'>
		<div id='goo'><span>A</span><span>p</span><span>p</span><span>l</span><span>i</span><span>c</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span></div>
		<div id='headerOptions'>
			<div class='optn'>
				<span id='size'>Size</span>
				<div id='sizeSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span id='price'>Price</span>
				<div id='priceSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span id='style'>Style</span>
				<div id='styelSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span id='brand'>Brand</span>
				<div id='wkatSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
		</div>

	</div>
	<div id='container'>


			<%# render partial: "partial", locals: {var: @var} %>

	</div>


