
	
	<div id ='leftColumn'>
	</div>
	<div id='lgo'>
		<div id='goo'>Stepindipity</div>
		<div id='tag'></div>
		<div id='headerOptions'>
			<div class='optn'>Size</div>
			<div class='optn'>Price</div>
			<div class='optn'>Style</div>
			<div class='optn'>Wkat</div>
		</div>
	</div>
	<div id='container'>
		<div id='imgContain'></div>
		<div id='xml' style='display:none'><%= @res.inspect %></div>


	</div>
