	
	<% dependencies %>

	<%	params = {  %>
	<%	  'Operation'     => 'SimilarityLookup',  %>
	<%	  'IdType'        => 'ASIN', %>
	<%	  'ResponseGroup' => 'Images, ItemIds', %>
	<%	  'ItemId'        => 'B00B5PLUQC'}  %>

	<%	@res = newVacuum(params) %>
	<%  xml_doc  = nokogiri(@res)%>
	<% xml_doc.xpath("//ASIN").inner_text%>

	
	<script type='text/javascript'>
		urls = [];
		<% xml_doc.xpath("//ImageSet[@Category='primary']/LargeImage/URL").each do |url| %>
			urls.push('<%= url.inner_text %>')
		<% end %>


  	</script>

	<div id ='leftColumn'>
	</div>
	<div id='lgo'>
		<div id='goo'>Stepindipity</div>
		<div id='tag'></div>
		<div id='headerOptions'>
			<div class='optn'>
				<span>Size</span>
				<div id='sizeSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Price</span>
				<div id='priceSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Style</span>
				<div id='styelSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
			<div class='optn'>
				<span>Wkat</span>
				<div id='wkatSelect' class='select'>
					<div class='tinter'></div>
				</div>
			</div>
		</div>

	</div>
	<div id='container'>
		<div id='imgContain'></div>
		<div id='xml' style='display:none'><%= @res.inspect %></div>
	</div>


