html {
	height: 100%;
	width: 100%;
	margin: 0px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	xbackground-color: #f5f5f5;
}

@font-face {
    font-family: 'appfont';
    src:url('fontawesome-webfont.eot');
    src:url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('fontawesome-webfont.svg#icomoon') format('svg'),
        url('fontawesome-webfont.woff') format('woff'),
        url('fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#container {
	float: right;
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 80px;
	background-color: transparent;	
}

#leftColumn {
	xmargin: 1%;
	position: fixed;
	display: inline-block;
	padding: 0px;
	xtop: 1.5%;
	box-shadow: 0px 0px 3px 3px #555;
	border-top: 10px solid #f5f5f5;
	width: 98%;
	margin-left: 1%;	
	z-index: 10000;
	
	height: 70px;
	xbackground-color: rgb(255,25,60);
	background-image: url('retina_wood.png');
	xborder: 1px solid #aaa;
	border-radius: 1px;
	box-shadow: 0 0px 2px 1px rgba(255,200,200, .8) inset;
}

#lgo{
	font-family: 'Lobster', cursive;
	height: 100px;
	width: 98%;
	line-height: 100%;
	font-size: 40px;
	position: fixed;
	top: 30px;
	left: 30px;
	z-index: 100000000000;

}

#goo {
	text-shadow: 1px 1px #ccc;
	font-size: 30px;
	margin-top: -5px;
}

#goo:hover {
	cursor: pointer;
}

#tag {
	height: 50px;
	position: absolute;
	right: 50%;
	margin-right: 10px;
	font-size: 25px;
	color: #333;
	text-shadow: 1px 10px 5px black inset;

	top: 0;
	margin-top: -5px;
	font-family: arial;
	font-style: italic;
	font-family: appfont;
}

#tag:before {
	xcontent: '\F0B0';
}

#headerOptions {
	height: 50px;
	xbackground-color: rgba(0, 0, 0,.6);
	width: 37%;
	float: right;
	top: 0;
	margin-top: -10px;
	right: 1%;
	margin-right: 5px;
	position: absolute;
}

.optn {
	border-radius: 2px;
	top: 0;
	padding-top: 0px;
	height: 40px;
	margin-top: -10px;
	display: inline-block;
	background-color: rgba(0, 0, 0,.2);
	width: 22%;
	box-shadow: 0px 0px 5px black inset;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px #bbb;
	position: relative;
}

.optn:hover {
	box-shadow: 0px 0px 5px black;
	cursor: pointer;
	background-color: rgba(255,255,255,.2);
}

.select {
	display: none;
	box-shadow: 0px 0px 5px black;
	position: absolute;
	xright: 30%;
	xmargin-right: 40px;
	top: 70px;
	left: -40%; 
	width: 200px;
	height: 100px;
	background-image: url('retina_wood.png');
	Xborder: 1px solid #333;
	border-radius: 3px;
}

.tinter {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,.2);

}

#sizeselect {

}

.img {
	background-color: white;
	z-index: 100;
	position: relative; 	
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 50px;
	margin-left: 30px;
	xpadding: 5px;
	padding-top: 25px;
	xborder: 1px solid #ccc;
	xborder-top: 1px solid #eee;
}

.img img {
	max-width: 100%;
	max-height: 60%;
	display: block;
	margin: 0 auto;
}

.img:hover {
	cursor: pointer;
}

.price {
	top: 80%;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	position: absolute;
	xfont-family: 'Abel', sans-serif;
	font-weight: 400;
	font-family: 'appfont';
	letter-spacing: 1px;
	font-size: 11px;
	z-index: 100;
}

.overlay {
	top: 70%;
	height: 40px;
	width: 90%;
	margin-left: 5%;
	xz-index: 1;
	position: absolute;
	bottom: 0;
	xdisplay: none;
	font-family: 'Abel', sans-serif;
}

.overlay span {
	position: absolute;
	width: 100%;
	height: 100%;
	color: white;
	font-family: 'appfont';
	letter-spacing: 3px;
	font-size: 20px;
	text-align: center;
	xmargin-top: 30%;
}

.label {
	line-height: 40px;
	font-size: 18px;
	overflow: hidden;
	color: black;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.stumbleHolder {
	width: 100%;
	position: absolute;
	top: 88%;
	text-align: center;
	color: rgba(117, 128, 86, 0.36);
}

.shop {
	font-family: appfont;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    
   x border-bottom: 1px solid #448;
	position: absolute;
	left: 15px;
	font-size: 28px;
	color: rgb(223, 203, 216);
}

.shop:before {
	content: "\f07A";
}

.shop:hover {
	color: black;
	cursor: pointer
}
.stumbler {
	font-family: appfont;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    
   x border-bottom: 1px solid #448;
	position: absolute;
	right: 15px;
	font-size: 28px;
}

.stumbler:hover {
	xbackground-color: #9bc;
	color: #333;
}

.stumbler:before {
	 content: "\f14D"; 
    
}


.thumb {
	xdisplay: none;
	background-color: rgba(0,0,0,.8);
	font-family: appfont;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    xbackground-color: rgb(255,30,60);
    xcolor: #111;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    xwidth: 30px;
    padding: 8px;
}

.thumb:hover {
    xbackground-color: #111;
    xcolor: 	rgb(255,60,90);
}

.up {
	background-color: rgb(30,170,30);
	margin-right: 38px;
}

.up:hover {
	background-color: rgb(50,190,50);
}

.down {
	display: none;
	background-color: rgb(200,50,50);
}

.down:hover {
	background-color: rgb(170,30,30);
}

.up:before {
	 content: "\f087"; 
    
}

.down:before {
	
	 content: "\f088"; 
    
}


#imgContain {
	xmargin-right: 20px;
	xmargin-left: 25px;
	padding-top: 20px;
	padding-bottom: 100px;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow:after, .arrow:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow:after {
	
	border-color: rgba(136, 183, 213, 0);
	border-top-color: rgba(0,0,0,.95);
	border-width: 12px;
	left: 50%;
	margin-left: -12px;
}
.arrow:before {
	
	border-color: rgba(194, 225, 245, 0);
	border-top-color: rgba(0,0,0,.95);
	border-width: 12px;
	left: 50%;
	margin-left: -12px;
}

